<div class="container text-center">
    <h1>About Page</h1>
</div>



<div class="about well col-md-4">
    <p>
        My name is Nick Vaiente.
        I am currently at Griffith University studying a Bachelor of Multimedia majoring
        in Internet Computing. My main interest within my degree is focusing on web programming. 
        <br>
        <br>
        After finishing school I wasn't sure what I wanted to do in life. I started working in hospitality 
        to earn some money and have fun. I eventually moved to London, England so I could have the 
        opportunity to travel and explore other cultures. After nearly 3 years away I decided to 
        come home and go to uni. I have enjoyed every moment as I have learnt a lot of new things and 
        met a lot of new people. 

    </p>
</div>

<div class="multi">
    <img src="assets/photos/multi.jpg" height="300px" width="700px">
</div>
