<h1>Contact</h1>

<div class="contact-form">
    <form class="well">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Your e-mail address">
      </div>
      
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="text" class="form-control" id="message" placeholder="Your Message" rows="4">
        </textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Send</button>
      
    </form>
</div>

<div class="logos">
  <a href="www.facbook.com">
    <img src="assets/logos/fb.png" height="135px" width="135px">
  </a>
  
  <a href="www.instagram.com">
    <img src="assets/logos/insta.png" height="100px" width="100px">
  </a>
  
  <a href="www.linkedin.com">
    <img src="assets/logos/linked.png" height="100px" width="100px">
  </a>
</div>