<h1>Photos</h1>


<div class="image-holder">
    <div class="holds">
        
        <a href="assets/photos/eye.jpg" class="images" data-lightbox="image-1" data-title="My caption">
            <img src="assets/photos/eye.jpg" height="200px" width="200px">
        </a>
        
        <a href="assets/photos/gc.jpg" class="images" data-lightbox="image-1" data-title="My caption">
            <img src="assets/photos/gc.jpg" alt="logo" height="200px" width="200px">
        </a>
        
        <a href="assets/photos/nagano.jpg" class="images" data-lightbox="image-1" data-title="My caption">
            <img src="assets/photos/nagano.jpg" alt="logo" height="200px" width="200px" data-lightbox="photos" data-title="Nagano">
        </a>
        
        <a href="assets/photos/q1.jpg" class="images" data-lightbox="image-1" data-title="My caption">
            <img src="assets/photos/q1.jpg" alt="logo" height="200px" width="200px" data-lightbox="photos" data-title="Q1">
        </a>
        
        <a href="assets/photos/spit.jpg" class="images" data-lightbox="image-1" data-title="My caption">
            <img src="assets/photos/spit.jpg" alt="logo" height="200px" width="200px" data-lightbox="photos" data-title="The Spit">
        </a>
        
    </div>
</div>

