<h1>Programs</h1>



<div class="program-holder">
    <div class="programs">
        <%= link_to "https://github.com/ventenni/CrimeMap", :target => "_blank", class: "crimemap-logo" do %>
            <img src="assets/crime map.jpg" alt="logo" height="150px" width="180px">
        <% end %>
        <p class="program-p">
            CrimeMap <br>
            **Coming Soon** <br>
            CrimeMap is a native Android Application that uses Open Street Maps
            and the QPS (Queensland Police Service) crime database to show locations 
            of crimes. 
        <br>
        <%= link_to "https://github.com/ventenni/CrimeMap", :target => "_blank" do %>
            <img class="github" src="assets/logos/github.png" height="15px" width="45px">
        <% end %>
        
        </p>
    </div>
    
    <div class="programs">
        <%= link_to "https://github.com/ventenni/lacklustre-dvd", :target => "_blank", class: "crimemap-logo" do %>
            <img src="assets/broke.png" alt="logo" height="140px" width="160px">
        <% end %>
        <p class="program-p">
            Lacklustre DVD <br>
            **Coming Soon** <br>
            Lacklustre DVD is a basic website created for Database Systems and Administration.
            The purpose was to demonstrate efficiencies and understanding of MySQL that was
            taught during the course.
        <br>
        <%= link_to "https://github.com/ventenni/lacklustre-dvd", :target => "_blank" do %>
            <img class="github" src="assets/logos/github.png" height="15px" width="45px">
        <% end %>
        </p>
    </div>
</div>