<h1>Programs</h1>



<div class="program-holder">
    <div class="programs">
        <%= link_to root_path, class: "crimemap-logo" do %>
            <img src="assets/crime map.jpg" alt="logo" height="150px" width="180px">
        <% end %>
        <p class="program-p">
            CrimeMap <br>
            **Coming Soon** <br>
            CrimeMap is a native Android Application that uses Open Street Maps
            and the QPS (Queensland Police Service) crime database to show locations 
            of crimes. 
        </p>
    </div>
    
    <div class="programs">
        <%= link_to root_path, class: "crimemap-logo" do %>
            <img src="assets/trolley.png" alt="logo" height="100px" width="130px">
        <% end %>
        <p class="program-p">
            Trolley <br>
            **In Planning** <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Eos, enim, fugiat, suscipit libero quos laboriosam numquam aliquam quis tempore 
            expedita illum ad illo sit aut nobis facere sequi aperiam cem!
        </p>
    </div>
</div>